footer
  .container.text-center
    p.float-left © 2020 西南交通大学智美校园课题团队
    //ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
