extends layout

block content
  h1 智美交大校园
  p.lead 支持学生创造性学习的工具、设备、实验室等资源的信息查询工具。
  hr
  .row
    .col-md-6
      h2 工具
      p 解决创造性学习过程中寻找不到趁手工具的问题。
      p
        a.btn.btn-raised(href='#', role='button') 查看详情 »
    .col-md-6
      h2 设备
      p 解决创造性学习过程中没有适合的设备来解决一些卡脖子问题。
      p
        a.btn.btn-raised(href='#', role='button') 查看详情 »
    .col-md-6
      h2 实验室
      p 找到让创造性学习能够开展的实验室。
      p
        a.btn.btn-raised(href='#', role='button') 查看详情 »
    .col-md-6
      h2 方法
      p 学习学习和创造的方法。
      p
        a.btn.btn-raised(href='#', role='button') 查看详情 »
